* {
  list-style-type: none;
  text-decoration: none; }

body {
  margin: 0;
  padding: 0; }

.navbar {
  width: 70%;
  font-size: 14px;
  top: 0;
  margin: auto;
  box-sizing: border-box; }
  .navbar .navbar__logo {
    margin-top: 10px;
    left: 2px;
    float: left; }
  .navbar .navbar__nav1 {
    float: right; }
  .navbar .navbar__nav1 ul {
    display: flex;
    justify-content: space-between; }
  .navbar .navbar__nav1 ul li a {
    padding: 0 20px;
    color: black;
    cursor: pointer; }
    .navbar .navbar__nav1 ul li a:hover {
      color: red; }
  .navbar .navbar__nav1--button {
    font-size: 16px;
    border: 0.7px solid black;
    border-radius: 5px;
    cursor: pointer; }
    .navbar .navbar__nav1--button:hover {
      border-color: red; }

.section1 {
  width: 100%;
  height: 300px;
  padding: 10% 0 0 0;
  display: flex;
  justify-content: space-between; }
  .section1 .section1__para {
    width: 30%;
    left: 50px;
    margin: 0 50px; }
    .section1 .section1__para .button {
      padding: 10px 5px; }
    .section1 .section1__para .button a {
      padding: 10px 15px;
      color: black;
      border: 1px solid black;
      border-radius: 5px; }
      .section1 .section1__para .button a:hover {
        color: red;
        border-color: red; }
  .section1 .section1__images {
    width: 40%;
    position: relative; }
    .section1 .section1__images .section1__images--border {
      height: 90%;
      width: 100%;
      background-color: blue;
      z-index: -1;
      right: 0;
      border-radius: 0px 0 0 90px; }
  .section1 .section1__images img {
    width: 100%;
    position: absolute;
    top: -100px;
    right: 15%;
    z-index: 1; }

@media (max-width: 1200px) {
  .section1 .section1__para {
    width: 40%;
    left: 50px;
    margin: 0 50px; }
    .section1 .section1__para .button {
      padding: 10px 5px; }
    .section1 .section1__para .button a {
      padding: 10px 15px;
      color: black;
      border: 1px solid black;
      border-radius: 5px; }
      .section1 .section1__para .button a:hover {
        color: red;
        border-color: red; }
  .section1 .section1__images .section1__images--border {
    height: 80%; }
  .section1 .section1__images img {
    top: -70px; } }

@media (max-width: 900px) {
  .section1 .section1__para {
    width: 50%; }
  .section1 .section1__images .section1__images--border {
    height: 60%; }
  .section1 .section1__images img {
    top: -60px; } }

@media (max-width: 700px) {
  .section1 {
    flex-direction: column-reverse;
    margin-top: 160%;
    overflow: hidden; }
    .section1 .section1__para {
      padding-top: 70px;
      width: 80%;
      margin: auto;
      margin-top: 30%;
      position: relative; }
    .section1 .section1__images {
      width: 80%;
      left: 20%;
      margin-top: 130%;
      position: relative; }
      .section1 .section1__images .section1__images--border {
        top: 160%;
        position: absolute; }
    .section1 .section1__images img {
      width: 100%;
      position: relative;
      top: 120%;
      right: 30px; } }

.section2 {
  text-align: center;
  width: 100%; }
  .section2 .section__features {
    width: 50%;
    margin: auto; }

@media (max-width: 1260px) {
  .section2 .section__features {
    width: 60%;
    margin: auto; } }

@media (max-width: 700px) {
  .section2 {
    margin-top: 100%; } }

.section3 {
  text-align: center;
  width: 100%;
  height: 100px;
  top: 50px; }
  .section3 .section3__button {
    margin: auto;
    margin-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
    width: 51.5%; }
  .section3 .section3__button a {
    padding: 30PX 50px; }
    .section3 .section3__button a:hover {
      color: red; }
    .section3 .section3__button a:active {
      border-bottom: 2px solid red; }
  .section3 .section3__conter {
    width: 100%;
    height: 300px;
    text-align: left;
    padding: 10% 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse; }
    .section3 .section3__conter .para {
      width: 30%;
      left: 50px;
      margin: 0 50px; }
      .section3 .section3__conter .para .button {
        padding: 10px 5px; }
      .section3 .section3__conter .para .button a {
        padding: 10px 15px;
        background-color: #1150d8;
        color: white;
        border: 1px solid white;
        border-radius: 5px; }
    .section3 .section3__conter .images {
      width: 40%;
      position: relative; }
      .section3 .section3__conter .images .images--border {
        height: 90%;
        width: 100%;
        background-color: blue;
        z-index: -1;
        right: 0;
        border-radius: 0px 0px 90px 0px; }
    .section3 .section3__conter .images img {
      width: 100%;
      position: absolute;
      top: -100px;
      left: 15%;
      z-index: 1; }

@media (max-width: 1260px) {
  .section3 .section3__button {
    width: 60%; }
  .section3 .section3__button a {
    padding: 30PX 30px; } }

@media (max-width: 1200px) {
  .section3 .section3__conter .images .images--border {
    height: 80%; }
  .section3 .section3__conter .images img {
    top: -70px; } }

@media (max-width: 900px) {
  .section3 .section3__button {
    width: 80%; }
  .section3 .section3__button a {
    padding: 30PX 30px; }
  .section3 .section3__conter .para {
    width: 50%; }
  .section3 .section3__conter .images .images--border {
    height: 60%; }
  .section3 .section3__conter .images img {
    top: -60px; } }

.section4 {
  text-align: center;
  width: 100%;
  margin-top: 30%; }
  .section4 .section4__features {
    width: 30%;
    margin: auto; }
  .section4 .section4__features p {
    color: rgba(0, 0, 0, 0.4); }

@media (max-width: 900px) {
  .section4 {
    margin-top: 50%; }
  .section4__features {
    width: 50%; } }

.broser {
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-around; }
  .broser .broser__chrom {
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px #888888;
    text-align: center;
    padding: 30px 0px; }
    .broser .broser__chrom .broser__chrom--bg {
      padding: 30px 0; }
    .broser .broser__chrom .broser__chrom--button {
      width: 85%;
      margin: 10px auto;
      text-align: center;
      padding: 10px 15px;
      cursor: pointer;
      border: 1px solid #006eff;
      border-radius: 5px;
      color: white;
      background-color: #006eff; }
      .broser .broser__chrom .broser__chrom--button:hover {
        border: 1px solid #006eff;
        color: #006eff;
        background-color: white; }
  .broser .broser__fire {
    margin: 10px 0 -10px 0;
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px #888888;
    text-align: center;
    padding: 30px 0px 20px 0; }
    .broser .broser__fire .broser__fire--bg {
      padding: 30px 0; }
    .broser .broser__fire .broser__fire--button {
      width: 85%;
      margin: 5px auto;
      text-align: center;
      padding: 10px 15px;
      cursor: pointer;
      border: 1px solid #006eff;
      border-radius: 5px;
      color: white;
      background-color: #006eff; }
      .broser .broser__fire .broser__fire--button:hover {
        border: 1px solid #006eff;
        color: #006eff;
        background-color: white; }
  .broser .broser__opera {
    margin: 20px 0 -20px 0;
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px #888888;
    text-align: center;
    padding: 30px 0px; }
    .broser .broser__opera .broser__opera--bg {
      padding: 30px 0; }
    .broser .broser__opera .broser__opera--button {
      width: 85%;
      margin: 10px auto;
      text-align: center;
      padding: 10px 15px;
      cursor: pointer;
      border: 1px solid #006eff;
      border-radius: 5px;
      color: white;
      background-color: #006eff; }
      .broser .broser__opera .broser__opera--button:hover {
        border: 1px solid #006eff;
        color: #006eff;
        background-color: white; }

@media (max-width: 900px) {
  .broser {
    width: 90%; } }

.section5 {
  margin-top: 10%;
  text-align: center;
  width: 100%; }
  .section5 .section__features {
    width: 30%;
    margin: auto; }

.section6 {
  width: 100;
  padding: 30px 0; }
  .section6 .section6__info {
    width: 35%;
    margin: auto;
    padding: 10px 0;
    border-bottom: 0.6px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: black; }
    .section6 .section6__info .section6__info--icon {
      display: flex;
      justify-content: space-between; }
    .section6 .section6__info .section6__info--info {
      display: none; }
    .section6 .section6__info:hover a {
      color: red; }
    .section6 .section6__info:hover i {
      color: black; }
    .section6 .section6__info:active > .section6__info--info {
      color: red;
      display: block; }
  .section6 .section6__button {
    width: 6%;
    text-align: center;
    border-radius: 6px;
    margin: 25px auto;
    border: 1px solid blue;
    background: blue;
    padding: 7px 0; }
    .section6 .section6__button:hover {
      background: none; }
    .section6 .section6__button .section6__button--more {
      color: white;
      font-size: 12px; }
      .section6 .section6__button .section6__button--more:hover {
        color: blue; }

.contact {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  background: blue; }
  .contact .contact__info {
    width: 30%;
    text-align: center;
    color: white;
    margin: auto; }
    .contact .contact__info .contact__info--titel {
      font-size: 12px; }
    .contact .contact__info .contact__info--para {
      font-size: 30px; }
  .contact .contact__email {
    height: 40px;
    display: flex;
    justify-content: center; }
  .contact .contact__email i {
    background: red;
    width: 40px;
    line-height: 40px;
    color: white;
    text-align: center; }
  .contact .email, .contact .submit {
    border: none;
    outline: none; }
  .contact .email {
    width: 0px;
    transition: 0.6s; }
  .contact .contact__email:hover > .email, .contact .email:focus {
    width: 260px;
    padding: 0 10px; }
  .contact .submit {
    background: red;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer; }

footer {
  width: 100%;
  height: 50px;
  background: #555555;
  text-align: center; }
  footer .footer {
    width: 70%;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    footer .footer .footer__logo {
      display: flex;
      justify-content: space-between;
      width: 50%;
      color: white;
      margin-top: 20px; }
    footer .footer .footer__logo a {
      color: white; }
    footer .footer .footer__logo img {
      width: 100px;
      height: 20px; }
    footer .footer .footer__icon {
      display: flex;
      justify-content: flex-end;
      width: 30%;
      margin-top: 20px;
      color: white; }
    footer .footer .footer__icon i {
      line-height: 10px;
      padding: 0 10PX; }
