*{
    list-style-type: none;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 70%;
    font-size: 14px;
    top:0;
    margin: auto;
    box-sizing: border-box;
    .navbar__logo{
        margin-top:10px;
        left: 2px;
        float: left;
    }
    .navbar__nav1{
        float: right;
    }
    .navbar__nav1 ul{
        display: flex;
        justify-content: space-between;
    }
    .navbar__nav1 ul li a{
        padding: 0 20px;
        color: $navColor;
        cursor: pointer;
        &:hover{
            color: $hoverColor;
        }
    }
    .navbar__nav1--button{
        font-size: 16px;
        border: 0.7px solid $navColor;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            border-color: $hoverColor; 
        }
        
    }
    
 }
    
