.section2{
    text-align: center;
    width: 100%;
    .section__features{
        width: 50%;
        margin: auto;
    }
}
@media (max-width:1260px){
    .section2{

        .section__features{
            width: 60%;
            margin: auto;
        }
    }
}
@media (max-width:700px){
    .section2{
        margin-top: 100%;
    }
}