.section4{
    text-align: center;
    width: 100%;
    margin-top: 30%;
    .section4__features{
        width:  30%;
        margin: auto;
    }
    .section4__features p{
        color: rgba($color: #000000, $alpha: .4);
    }

}